@import "../../node_modules/bootstrap/less/bootstrap";
@import "variables";

@import "modal";

.nav-item {
  background-color: #eee;
  border: 1px solid #bbb;
  .border-bottom-radius(15px);
  .border-top-radius(15px);

  margin-bottom: 10px;
  margin-top: 10px;

  padding: 15px;

  .content {
    padding: 15px;
  }

  .date {
    color: @colorDate;
    font-size: .7em;
    margin-left: 20px;
  }

  .thumb {
    margin-bottom: 10px;
    margin-top: 10px;

    img {
      width: 180px;
    }
  }

  .date, .thumb {
    text-align: center;
  }

  .hover {
    height: 1px;
    .play-button {
      margin-top: -160px;
    }
  }

  video {
    .transition(width 1s linear);
    display: none;
    margin-top: -150px;

    &.display {
      display: inherit;
    }
  }
}
